<div class="jumbotron jumbotron-fluid flex-container">
  <div class="container">
    <h1><strong class="text-light">Creative Work. Made Easy.</strong></h1>
    <p class="lead text-light">Workforce and clients at the tip of your fingers.</p>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-info rounded' %> <span class="text-light ml-1 mr-1">or</span> <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-success' %>
  </div>
</div>
