<div class="jumbotron jumbotron-fluid flex-container">
  <div class="container">
    <h1 class="display-2"><strong class="text-light">Creative Work. Made Easy.</strong></h1>
    <p class="lead text-light">Workforce and clients at the tip of your fingers.</p>
  </div>
</div>
