/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "font-awesome";

.logo {
  width: 170px;
}

.jumbotron {
  //experimental
  height: calc(100vh - 57.63px);
  background-image: image_url('jumbotron-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  //bootstrap override
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
